.pictures {
  // position: absolute;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 32px 1fr 1fr 32px;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  justify-items: center;
  width: 100%;
  // height: 430px;
  margin: 0 auto;
}

@media (max-width: 1199px) and (min-width: 640px) {
  // .pictures {
  //   height: 240px;
  // }
}

.container {
  position: relative;
  // background: #ffffff;
  overflow: hidden;
  height: 100%;
  width: 100%;
  // grid-column: 2 / 4;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  justify-content: space-between;
  // border-radius: 15px;
}

.orderBanner {
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 84px);
  // grid-column: 1 / 3;
  // grid-row: 1 / -1;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 48px;
  z-index: 1;
  // flex:1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;

  h2 {
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    margin: 0;
  }

  p {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -8%;
    margin: 0;
    white-space: nowrap; /* Prevent text wrapping */
  }
}

.highlight {
  color: #ecd57b; /* Yellow color */
}

.slider {
  // grid-column: 3 / -1;
  // grid-row: 1 / -1;
  object-fit: cover;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the entire image fits within the frame */
  display: none;

  &.active {
    display: block;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  color: var(--white);
}

.previous {
  width: 100%;
  grid-column: 0 / 1;
  grid-row: 1 / 3;
}

.next {
  width: 100%;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.controls{
  background-color: var(--surface-2);
  cursor: pointer;
  border: 0;

  &:hover {
    background: var(--icons);
  }
}

.indicators {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  text-align: center;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 5px;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;

  &.indicatorActive {
    background-color: #333;
  }
}

@media (max-width: 639px) and (min-width: 340px) {
  // .controls {
  //   display: none;
  // }

  // .orderBanner {
  //   display: none;
  // }

  // .container {
  //   grid-column: 1 / -1;

  // }

  // .pictures {
  //   overflow: hidden;
  //   width: 100%;
  //   height: calc(width 100%);
  // }
}