.filterOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.356);
  display: flex;
  z-index: 1000;
}

.filterSidebar {
  width: 400px;
  height: 100%;
  background-color: var(--surface-2);
  display: flex;
  border-radius: 8px;
}

.viewBlock {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #1c1c1d;
  padding: 41px 20px;
}

.filterHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  background-color: var(--surface-2);

  h2 {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: -5%;
    color: var(--white);
  }

  img {
    width: 28px;
    height: 28px;
  }
}

.filterContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--surface-2);
  border-radius: 8px;
}

.filterCategory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  h3 {
    margin: 0;
    font-size: 18px;
    color: var(--white);
  }

  .radioGroup,
  .checkboxGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--white);
    }

    input[type="radio"],
    input[type="checkbox"] {
      accent-color: var(--primary);
    }
  }

  .boxGroup {
    display: flex;
    justify-content: space-between;
  }
}

.filterCategory:first-of-type {
  margin-top: 40px;
}

.filterCategoryPrice {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  h3 {
    margin: 0;
    font-size: 18px;
    color: var(--white);
  }

  .boxGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .dollarSign {
    position: absolute;
    left: 10px;
    color: var(--white);
  }

  input[type="number"] {
    width: 63px;
    height: 22px;
    padding: 3px 30px 3px 20px; /* Adjust padding to make space for the dollar sign */
    text-align: center;
    gap: 8px;
    border-radius: 4px;
    background: #59595A;
    border: none;
    box-shadow: none;
    appearance: none;
  
    &:focus-visible {
      outline: none;
    }
  }

  input[type="text"] {
    width: 63px;
    height: 22px;
    padding: 3px 30px 3px 20px; /* Adjust padding to make space for the dollar sign */
    text-align: center;
    gap: 8px;
    border-radius: 4px;
    background: #59595A;
    border: none;
    box-shadow: none;
    appearance: none;
  
    &:focus-visible {
      outline: none;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #3b3b3c;
  margin: 16px 0;
}

.closeButton {
  box-sizing: border-box;
  position: absolute;
  top: -25px;
  right: -25px;
  height: 32px;
  width: 32px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--white);
  padding: 0;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filterButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
  }

  span {
    font-size: 16px;
    font-weight: bold;
  }
}

.filterButton:hover {
  background-color: var(--primary-dark);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 54px;
}

.applyButton {
  height: 48px;
  padding: 8px 16px;
  background-color: #204dff;
  color: var(--white);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.resetButton {
  height: 48px;
  padding: 8px 16px;
  background-color: inherit;
  border: 1px solid #f1f1f8;
  color: var(--white);
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.resetButton:hover {
  background-color: #48484b4b;
}

.applyButton:hover {
  background-color: #4466f0;
}
