.backToHome {
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 834px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/Background/background.png') no-repeat center center; /* Add background image */
  background-color: rgba(28, 28, 29, 0.49);
  background-size: cover; /* Ensure the image covers the entire container */
  filter: blur(12px); /* Apply blur effect */
  z-index: -1; /* Ensure the background is behind other elements */
}

.resetForm {
  box-sizing: border-box;
  position: relative;
  background-color: #1c1c1d;
  height: 543px;
  width: 662px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 82px 114px;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // margin-bottom: 20px;
  
  .title {
    white-space: pre-line;
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: -5%;
    margin: 0;
    color: white;
  }

  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -8%;
    margin: 0;
  }
}


.form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 55px;
}

.control {
  position: relative;
}

.field {
  box-sizing: border-box;
  margin: 10px 0;
  padding: 37px 24px 8px 24px;
  width: 100%;
  height: 72px;
  border: 1px solid #ddd;
  border-radius: 12px;
  outline: none;
  background-color: #1c1c1d;
  color: white;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -8%;
}

.iconRight {
  color: #b3afbb;
  position: absolute;
  top: 18px;
  left: 24px;
}

.iconLeft {
  position: absolute;
  top: 33%;
  right: 5%;
}

.errorMessageBlock {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
}

.fullWidthLine {
  width: 100%;
  height: 1px;
  background-color: #3b3b3c;
  margin: 28px 0;
}

.buttonContainer {
  position: relative;
  width: 100%;
  margin-top: 32px;

  button {
    width: 100%;
    height: 64px;
  }
}

.buttonText {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -8%;
}

.backToLoginContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.backToLogin {
  background-color: #204dff;
  color: white;
  border: 1px solid transparent;
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #5073ff;
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    background-color: #2b312b;
    cursor: not-allowed;
  }
}

.errorMessage {
  color: red;
}

.isDanger {
  border: 1px solid red;
  box-shadow: 0px 0px 8px 1px red;
}

.isLoading {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    border: 3px solid #fff;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .buttonText {
    visibility: hidden;
  }
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.isSuccess {
  background-color: #204dff;
  color: white;
  border: 1px solid transparent;
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #5073ff;
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    background-color: #2b312b;
    cursor: not-allowed;
  }
}
