// .container {
//   grid-column: 1 / -1;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .authForm {
//   background-color: #242424;
//   border: 1px solid white;
//   height: 50%;
//   width: 60%;
//   border-radius: 50px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   padding: 20px;
//   box-shadow: 0 10px 30px rgba(138, 134, 134, 0.205);
//   // transition: box-shadow 0.3s ease;

//   // &:hover {
//   //   box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
//   // }
// }

// .switchContainer {
//   width: 100%;
//   max-width: 300px;
//   height: 50px;
//   background-color: rgba(122, 122, 122, 0.267);
//   border-radius: 30px;
//   position: relative;
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   box-shadow: 0 5px 15px rgba(33, 34, 34, 0.979);;

//   .switchTextContainer {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     position: relative;
//     z-index: 1;

//     .signUp,
//     .logIn {
//       cursor: pointer;
//       color: rgb(0, 0, 0);
//       font-weight: bold;
//       user-select: none;
//       height: 100%;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       flex: 1;

//       &.active {
//         color: rgb(255, 255, 255);
//       }
//     }
//   }

//   .switchButton {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 50%;
//     background-color: rgb(94, 159, 197);
//     border-radius: 30px;
//     transition: transform 0.3s ease, background-color 0.3s ease;

//     &.activeLogIn {
//       transform: translateX(0);
//       background-color: rgba(255, 255, 255, 0.5);
//     }

//     &.activeSignUp {
//       transform: translateX(100%);
//       background-color: rgba(255, 255, 255, 0.5);
//     }
//   }
// }

// .formContainer {
//   flex-grow: 1;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
// }

// .form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   position: relative;
  
//   input {
//     margin: 10px 0;
//     padding: 12px;
//     width: 100%;
//     height: 50px;
//     border: 1px solid #ddd;
//     border-radius: 12px;
//     outline: none;
//     box-sizing: border-box;
//     background-color: #333;
//     color: white;
//     transition: all 0.3s ease;

//     &.focused {
//       background-color: #444; // Темніший фон при фокусі
//     }

//     &:focus {
//       border-color: rgb(94, 159, 197); // Підсвічуємо поле при фокусі
//       box-shadow: 0 0 8px rgba(94, 159, 197, 0.5); // Тінь при фокусі
//     }
//   }

//   .is-danger {
//     border-color: rgb(197, 94, 94); // Червоний колір для помилки
//     background-color: rgb(50, 50, 50); // Трохи темніше для помилки
//     box-shadow: 0 0 8px rgba(197, 94, 94, 0.6); // Червона тінь
//   }

//   .errorMessage {
//     color: rgb(197, 94, 94);  // Червоний колір для повідомлень про помилки
//     font-size: 12px;
//     margin-top: -5px;
//     // margin-bottom: 10px;
//     text-align: left;
//   }

//   button {
//     margin-top: 60px;
//     padding: 12px 25px;
//     border: none;
//     border-radius: 12px;
//     background-color: rgb(0, 0, 0);
//     color: white;
//     font-weight: bold;
//     cursor: pointer;
//     transition: all 0.3s ease;

//     &:hover {
//       background-color: rgb(56, 54, 61);
//       transform: translateY(-3px);
//     }

//     &:active {
//       transform: translateY(1px);
//     }
//   }
// }

// .resetPassword {
//   position: absolute;
//   bottom: 0;
//   right: 50px;

//   a {
//     text-decoration: none;
//     color: red;
//   }
// }

.backToHome {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.container {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authForm {
  background-color: #242424;
  border: 1px solid white;
  // height: 50%;
  width: 60%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(138, 134, 134, 0.205);
}

.switchContainer {
  width: 100%;
  margin-bottom: 20px;
  max-width: 300px;
  height: 50px;
  background-color: rgba(122, 122, 122, 0.267);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(33, 34, 34, 0.979);

  .switchTextContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    .signUp,
    .logIn {
      cursor: pointer;
      color: rgb(0, 0, 0);
      font-weight: bold;
      user-select: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      &.active {
        color: rgb(255, 255, 255);
      }
    }
  }

  .switchButton {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgb(94, 159, 197);
    border-radius: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &.activeLogIn {
      transform: translateX(0);
      background-color: rgba(255, 255, 255, 0.5);
    }

    &.activeSignUp {
      transform: translateX(100%);
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.formContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 100%;
  padding-bottom: 55px;
}

.field {
    margin: 10px 0;
    padding: 12px 12px 12px 40px;
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 12px;
    outline: none;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    transition: all 0.3s ease;
}

.control {
  position: relative;
}

.iconRight {
  position: absolute;
  top: 33%;
  left: 2%;
}

.iconLeft {
  position: absolute;
  top: 33%;
  right: 2%;
}

.fullWidthLine {
  width: 100%;
  height: 2px; /* Висота лінії */
  background-color: #ffffff; /* Колір лінії */
  margin: 15px 0; /* Відступи */
}

.authWihtContainer {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 10px;
  margin-bottom: 20px;


}

.buttonContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%; /* Вирівнювання по горизонталі */
  transform: translateX(-50%); /* Зміщення на половину ширини */

  button {
    width: 100%;
  }
}

.isDanger {
  border: 1px solid red;
  box-shadow: 0px 0px 8px 1px red;
}

.isLoading {
  position: relative; // додаємо, щоб мати змогу вставити loader всередину кнопки

  &::after {
    content: ''; // створюємо пустий елемент для loader
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    border: 3px solid #fff;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .buttonText {
    visibility: hidden;  // ховаємо текст
  }
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.isSuccess {
  background-color: #06ff5d77;  // зелений для успіху
  color: white;
  border: 1px solid transparent;
  padding: 12px 25px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #36a45d;
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    background-color: #2b312b;
    cursor: not-allowed;
  }
}

// .googleAuth {
//   margin-top: 50px;
// }