.favoritePage {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 20px;
  min-height: 100vh; // Ensure the component stretches to the full height of the viewport
  // background-color: #1C1C1D;
  color: #fff;

  // h2 {
  //   font-family: 'Lexend Exa', sans-serif;
  //   font-weight: 600;
  //   font-size: 32px;
  //   line-height: 35.2px;
  //   letter-spacing: -5%;
  //   margin-bottom: 20px;
  // }

  p {
    font-family: 'Lexend Exa', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -8%;
  }
}

.noItemsMessage {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: space-between;
  text-align: left; /* Align text to the left */
  font-size: 18px;
  margin: 220px 47px 0 47px;

  h2 {
    font-family: 'Lexend Exa', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: -5%;
    margin: 0;
  }

  p {
    font-family: 'Lexend Exa', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -8%;
    margin: 14px 0 0 0;
  }

  .backToHomeButton {
    margin-top: 120px;
    padding: 8px;
    width: 434px;
    height: 64px;
    gap: 8px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #204dff;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #5073ff;
    }
  }
}
