.favoritePage {
  padding: 20px;
  min-height: 100vh; // Ensure the component stretches to the full height of the viewport
  background-color: #1C1C1D;
  color: #fff;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }
}

.noItemsMessage {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;

  p {
    margin: 10px 0;
  }

  .backToHomeButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #204dff;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: #5073ff;
    }
  }
}
