.title {
  font-family: Mont, sans-serif; // Використання шрифту Mont
  font-weight: 800; // Жирний (800)
  font-size: 48px; // Розмір шрифту 48px
  line-height: 56px; // Висота рядка 56px
  letter-spacing: -1%; // Відступ між символами -1%
  color: var(--white);
  margin: 56px 0;
}

.MainPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.blockSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  top: -32px; /* Move the blockSearch element 32px relative to its current position */
}

@media (max-width: 639px) and (min-width: 320px) {
  .title {
    font-size: 32px; // Розмір шрифту 48px
    line-height: 41px; // Висота рядка 56px
    letter-spacing: -1%; // Відступ між символами -1%
    margin: 24px 0;
  }
}
