.pagination-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 40px 0 0;

  .pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 65px;
    background-color: #f1f1f8;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin: auto 10px;
    color: #1C1C1D;
    // display: flex;
    box-sizing: border-box;
    align-items: center;
    // letter-spacing: 0.01em;
    line-height: 24.43px;
    font-size: 21.43px;
    min-width: 32px;
    // background-color: var(--surface-1);

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: #f1f1f8d7;
      cursor: pointer;
    }

    &.selected {
      background-color: #ECD57B;
    }

    &:first-child {
      padding: 0 8px;
      margin-right: 16px;
      background-color: var(--surface-2);
    }

    &:last-child {
      padding: 0 8px;
      margin-left: 16px;
      background-color: var(--surface-2);
    }

    .arrow {
      display: flex;
      margin: 0;
      img {
        width: 18px;
        height: 18px;
      }
    }

    &.disabled {
      border: 1px solid var(--surface-2);
      background-color: inherit;
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(255, 255, 255, 0.43);
        border-top: 0.12em solid rgba(255, 255, 255, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}

@media (max-width: 639px) and (min-width: 320px) {
  .pagination-container {
    padding: 0;
  }

  .pagination-item {
    padding: 0;
  }
}
