.container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 2px rgb(53, 48, 48);
  height: 80px;
  background-color: #3B3B3C;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo_container {
  display: flex;
  align-items: center;
  margin: 0 48px;
  height: 100%;

  a {
    margin: 0;
    padding: 0;
  }
}

.logo {
  height: 70px;
  width: 70px;
}

