.container {
  padding: 48px;
  h1 {
    font-weight: 600;
    font-size: 32px;
    // line-height: 110;
  }

  p {
    padding: 0;
    margin: 0;
  }

  h2 {
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }

  ul {
    // padding: 0;
    // margin: 0;
  }
}
.block {
  display: flex;
  flex-direction: column;

  // justify-content: center;
  align-items: center;
  padding: 20px;
  // background-color: #1c1c1d;
  color: #fff;
  // border-radius: 8px;
  // max-width: 800px;
  margin: 0 auto;
  position: relative;


  .mainText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
  }
}

.backButton {
  // position: absolute;
  text-align: left;
  // top: 20px;
  // left: -160px;
  // left: -20%;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
  }
}
